<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Menu -->
    <menuitem id="menu_game_root" name="Games">
        <menuitem id="menu_game_list" name="menu" >
            <menuitem id="menu_games_list" name="all games" action="action_game_window"></menuitem>
            <menuitem id="menu_discounted_games" name="Discounted Games" action="action_discounted_games"/>
            <menuitem id="menu_sold_games" name="Sold Games" action="action_sold_games"/>
        </menuitem>

    </menuitem>


    <menuitem
        id="menu_offer_list"
        name="offer"
        parent="menu_game_root"
        action="action_offer_window"
    />
</odoo>